:root {
  --grid-width: 120rem;
  --gap: 3rem;
  --bp-desktop: 90em;
  --bp-tablet: 48em;
  --bp-phone: 23.4375em;
  --color-primary-dark: 230 35% 7%;
  --color-primary-light: 231 77% 90%;
  --color-primary-white: 0 0% 100%;
  --color-separator: 231, 15%, 26%;
  --font-family-primary-normal: "Barlow", sans-serif;
  --font-family-primary-conds: "Barlow Condensed", sans-serif;
  --font-family-secondary: "Bellefair", serif;
  --font-size-900: 15rem;
  --font-size-800: 10rem;
  --font-size-700: 5.6rem;
  --font-size-600: 3.2rem;
  --font-size-500: 2.8rem;
  --font-size-400: 1.8rem;
  --font-size-300: 1.6rem;
  --font-size-200: 1.4rem;
  --letter-spacing-big: 0.475rem;
  --letter-spacing-medium: 0.27rem;
  --letter-spacing-small: 0.235rem;
  --flow-margin: 3rem;
}

/*
* Allow us to respond to all our breakpoints
* 
* @param $bp -> Breakpoint
* 
* Order: Base file (base, typography...) > Layout (Grid, Header, Footer...) > pages > Components.
* 
* @content => Control directive added to this mixin to let us to add block of style
*/
/* ------------------------ */
/*       Global reset       */
/* ------------------------ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.1;
}

.font-size-900,
.font-size-800,
.font-size-700,
.font-size-600 {
  line-height: 1.1;
}

img,
picture {
  display: block;
  max-width: 100%;
}

picture[hidden] {
  display: none;
}

input,
textarea,
button,
select {
  font: inherit;
}

button {
  border: none;
  background-color: transparent;
}

textarea {
  white-space: revert;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: var(--font-family-primary-normal);
  font-size: var(--font-size-400);
  font-weight: 400;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: hsl(var(--color-primary-white));
  line-height: 1.5;
  min-height: 100vh;
  padding-block: 2rem max(5rem, 10vh);
  display: grid;
  grid-template-rows: repeat(2, min-content);
  overflow-x: hidden;
}
@media only screen and (max-width: 48em) {
  body {
    --font-size-400: 1.6rem;
    padding-block: 0;
    padding-bottom: max(5rem, 10vh);
  }
}
@media only screen and (max-width: 23.4375em) {
  body {
    --font-size-400: 1.5rem;
  }
}

@media only screen and (max-width: 48em) {
  .main-content {
    text-align: center;
  }
}
@media only screen and (min-width: calc(23.4375em + 1px)) {
  .main-content__header--numbered {
    text-align: left;
    margin: 0;
  }
}
.main-content__header--numbered > span {
  font-weight: bold;
  color: hsl(var(--color-primary-white)/0.2);
  margin-right: clamp(0.7rem, 3vw, 2rem);
}
@media only screen and (max-width: 48em) {
  .main-content__paragraph {
    max-width: 60ch;
    margin-inline: auto;
  }
}

/* ------------------------ */
/*           GRID           */
/* ------------------------ */
.container {
  max-width: 120rem;
  margin-inline: auto;
  padding-inline: 2rem;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.d-grid {
  display: grid;
}

.gap {
  gap: var(--gap);
}

/* ------------------------ */
/*       SCREEN READER      */
/* ------------------------ */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* Added line */
  border: 0;
}

/* ------------------------ */
/*          COLORS          */
/* ------------------------ */
.text-dark {
  color: hsl(var(--color-primary-dark));
}

.text-light {
  color: hsl(var(--color-primary-light));
}

.text-white {
  color: hsl(var(--color-primary-white));
}

/* ------------------------ */
/*         BG COLORS        */
/* ------------------------ */
.bg-dark {
  background-color: hsl(var(--color-primary-dark));
}

.bg-light {
  background-color: hsl(var(--color-primary-light));
}

.bg-white {
  background-color: hsl(var(--color-primary-white));
}

/* ------------------------ */
/*        TYPOGRAPHY        */
/* ------------------------ */
.font-family-primary-normal {
  font-family: var(--font-family-primary-normal);
}

.font-family-primary-conds {
  font-family: var(--font-family-primary-conds);
}

.font-family-secondary {
  font-family: var(--font-family-secondary);
}

.font-size-900 {
  font-size: clamp(7.5rem, 15vw, var(--font-size-900));
}

.font-size-800 {
  font-size: clamp(var(--font-size-700), 11vw - 0.4rem, var(--font-size-800));
}

.font-size-700 {
  font-size: clamp(2.4rem, 5vw - 1rem, var(--font-size-700));
}

.font-size-600 {
  font-size: clamp(var(--font-size-300), 5vw - 1rem, var(--font-size-600));
}

.font-size-500 {
  font-size: clamp(var(--font-size-300), 4vw - 1rem, var(--font-size-500));
}

.font-size-400 {
  font-size: var(--font-size-400);
}

.font-size-300 {
  font-size: clamp(var(--font-size-200), 5vw, var(--font-size-300));
}

.font-size-200 {
  font-size: var(--font-size-200);
}

.font-weight-regular {
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.no-underline {
  text-decoration: none;
}

.letter-spacing-big {
  letter-spacing: var(--letter-spacing-big);
}

.letter-spacing-medium {
  letter-spacing: var(--letter-spacing-medium);
}

.letter-spacing-small {
  letter-spacing: var(--letter-spacing-small);
}

.list-unstyled {
  list-style: none;
}

.flow > *:not(:last-child) {
  margin-bottom: var(--flow-margin);
}
.flow--small {
  --flow-margin: 0.7rem;
}

/* ------------------------ */
/*      Link Underlined     */
/* ------------------------ */
.underline {
  border-bottom: 0.3rem solid hsl(var(--color-primary-white));
}

/* ------------------------ */
/*         Separator        */
/* ------------------------ */
.separator {
  margin-block: 5rem 2rem;
  height: 1px;
  border-bottom: 1px solid hsl(var(--color-separator));
}
@media only screen and (max-width: 23.4375em) {
  .separator {
    margin-block: 2.5rem;
  }
}

@media only screen and (width > 48em) {
  .grid-container {
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 60rem)) minmax(2rem, 1fr);
    grid-template-areas: "padding-left main-left main-right padding-right";
  }
  .grid-container__left {
    grid-area: main-left;
  }
  .grid-container__right {
    grid-area: main-right;
    place-self: end;
  }
}
@media only screen and (max-width: 48em) {
  .grid-container {
    padding-inline: 2rem;
  }
}
.grid-container--crew {
  display: grid;
  grid-template-areas: ". primary-heading primary-heading ." ". article picture .";
}
@media only screen and (max-width: 48em) {
  .grid-container--crew {
    grid-template-columns: 1fr;
    grid-template-areas: "primary-heading" "article" "dots" "picture";
  }
}
@media only screen and (max-width: 23.4375em) {
  .grid-container--crew {
    grid-template-areas: "primary-heading" "picture" "dots" "article";
  }
}
.grid-container--crew > header {
  grid-area: primary-heading;
}
.grid-container--crew > article {
  grid-area: article;
}
.grid-container--crew > picture {
  grid-row: 1/-1;
  grid-column: 3;
  margin: 0;
}
@media only screen and (width > 48em) {
  .grid-container--crew > picture {
    justify-self: end;
  }
}
@media only screen and (max-width: 48em) {
  .grid-container--crew > picture {
    grid-area: picture;
    margin: auto;
    border-bottom: 1px solid hsl(var(--color-primary-light)/0.2);
  }
}
.grid-container--crew > div {
  grid-area: article;
  display: flex;
  height: 100%;
  align-items: end;
}
@media only screen and (max-width: 48em) {
  .grid-container--crew > div {
    grid-area: dots;
    align-items: center;
  }
}
.grid-container--technology {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: minmax(2rem, 1fr) min-content repeat(2, minmax(0, 60rem)) minmax(2rem, 1fr);
  align-items: center;
}
@media only screen and (max-width: 48em) {
  .grid-container--technology {
    grid-template-columns: 2rem 1fr 2rem;
  }
}
.grid-container--technology > div {
  grid-column: 2/span 1;
}
@media only screen and (max-width: 48em) {
  .grid-container--technology > div {
    grid-row: 3;
    grid-column: 2;
    display: flex;
    justify-content: center;
    --flow-margin: 0;
  }
}
.grid-container--technology > header {
  grid-row: 1/span 1;
  grid-column: 2/-1;
}
@media only screen and (max-width: 48em) {
  .grid-container--technology > header {
    grid-row: 1/span 1;
    grid-column: 2/-1;
  }
}
.grid-container--technology > picture {
  justify-self: end;
}
@media only screen and (max-width: 48em) {
  .grid-container--technology > picture {
    grid-row: 2;
    grid-column: 1/-1;
    justify-self: start;
  }
}
@media only screen and (max-width: 48em) {
  .grid-container--technology > article {
    grid-row: 4;
    grid-column: 2;
  }
}

.primary-header {
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: clamp(0rem, 4vw - 0.4rem, 5rem);
}
@media only screen and (max-width: 48em) {
  .primary-header {
    --gap: 1rem;
  }
}
@media only screen and (max-width: 23.4375em) {
  .primary-header {
    margin-bottom: 0;
  }
}
.primary-header::before {
  content: "";
  display: block;
  flex: 1;
  height: 1px;
  background-color: hsl(var(--color-primary-white)/0.2);
  transform: translateX(6rem);
  z-index: 100;
}
@media only screen and (max-width: 48em) {
  .primary-header::before {
    display: none;
  }
}
.primary-header__logo-box {
  margin-left: 7rem;
  order: -1;
}
@media only screen and (max-width: 48em) {
  .primary-header__logo-box {
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 23.4375em) {
  .primary-header__logo-box {
    margin: 2rem;
    align-self: flex-start;
  }
}
.primary-header__logo {
  max-width: min-content;
}
@media only screen and (max-width: 48em) {
  .primary-header__logo {
    max-width: 100%;
  }
}

.primary-navigation {
  display: flex;
  justify-content: center;
  max-width: 80rem;
  width: 100%;
  background-color: hsl(var(--color-primary-dark));
  position: relative;
  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    background-color: hsl(var(--color-primary-white)/0.04);
    backdrop-filter: blur(1rem);
  }
}
@media only screen and (max-width: 48em) {
  .primary-navigation {
    max-width: 45rem;
  }
}
@media only screen and (max-width: 23.4375em) {
  .primary-navigation {
    padding-inline: 0;
    height: 100%;
    max-width: 75%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    overflow: hidden;
  }
  .primary-navigation[aria-expanded=true] {
    transform: translateX(0%);
  }
  .primary-navigation[aria-expanded=false] {
    transform: translateX(100%);
  }
}
.primary-navigation__list {
  --gap: 6rem;
  list-style: none;
}
@media only screen and (max-width: 48em) {
  .primary-navigation__list {
    --gap: 2rem;
  }
}
@media only screen and (max-width: 23.4375em) {
  .primary-navigation__list {
    --gap: 0;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 10rem;
  }
}
@media only screen and (min-width: 23.5em) {
  .primary-navigation__list > *:not(.underline):hover, .primary-navigation__list > *:not(.underline):focus {
    border-bottom: 0.3rem solid hsl(var(--color-primary-white)/0.2);
  }
}
@media only screen and (max-width: 23.4375em) {
  .primary-navigation__item.underline {
    border-bottom: none;
    border-right: 0.3rem solid hsl(var(--color-primary-white));
  }
}
.primary-navigation__link:link, .primary-navigation__link:visited {
  display: block;
  color: hsl(var(--color-primary-white));
  padding-block: 3rem;
}
@media only screen and (max-width: 48em) {
  .primary-navigation__link:link, .primary-navigation__link:visited {
    padding-block: 2rem;
    --font-size-300: 1.4rem;
  }
}
@media only screen and (max-width: 23.4375em) {
  .primary-navigation__link:link, .primary-navigation__link:visited {
    margin-left: 3rem;
    padding-block: 0.4rem;
    margin-bottom: 2rem;
    --font-size-300: 1.6rem;
  }
}
.primary-navigation__link--bold {
  font-weight: 700;
  margin-right: 1rem;
}
@media only screen and (max-width: 48em) {
  .primary-navigation__link--bold {
    display: none;
  }
}
@media only screen and (max-width: 23.4375em) {
  .primary-navigation__link--bold {
    display: inline-block;
  }
}

.primary-button {
  position: relative;
  z-index: 1;
}
.primary-button:link, .primary-button:visited {
  display: inline-grid;
  place-items: center;
  font-size: clamp(2rem, 5vw, var(--font-size-600));
  background-color: hsl(var(--color-primary-white));
  text-decoration: none;
  padding-inline: 2em;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
}
.primary-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: hsl(var(--color-primary-white)/0.2);
  border-radius: inherit;
}
.primary-button:hover::after, .primary-button:focus::after {
  animation: scale 0.7s infinite ease-in;
}
@keyframes scale {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.secondary-navigation {
  display: inline-flex;
  gap: clamp(1.5rem, 5vw, var(--gap));
  margin-bottom: 2rem;
}
.secondary-navigation > button {
  padding-block: clamp(0.5rem, 3vw, 1.4rem);
  cursor: pointer;
  position: relative;
}
.secondary-navigation > button::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.3rem;
  background-color: currentColor;
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: scaleX(0);
}
.secondary-navigation > button[aria-selected=true]::after {
  opacity: 1;
  transform: scaleX(1);
}
.secondary-navigation > button[aria-selected=false]::after {
  opacity: 0;
  transform: scaleX(0);
}
.secondary-navigation > button[aria-selected=false]:hover::after {
  opacity: 0.2;
  transform: scaleX(1);
}

.hamburger-icon {
  display: none;
  position: fixed;
  top: 3rem;
  right: 2rem;
  z-index: 2000;
}
.hamburger-icon:hover {
  cursor: pointer;
}
@media only screen and (max-width: 23.4375em) {
  .hamburger-icon {
    display: block;
  }
}
.hamburger-icon__layer {
  width: 3rem;
  height: 0.2rem;
  background-color: hsl(var(--color-primary-white));
  border-radius: 0.2rem;
  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger-icon__layer:not(:last-child) {
  margin-bottom: 0.8rem;
}
.hamburger-icon:has(:not(.hamburger-icon--close)):hover .hamburger-icon__layer--top {
  transform: translateY(-0.2rem);
}
.hamburger-icon:has(:not(.hamburger-icon--close)):hover .hamburger-icon__layer--bottom {
  transform: translateY(0.2rem);
}
.hamburger-icon--close .hamburger-icon__layer--top {
  transform: rotate(45deg) !important;
}
.hamburger-icon--close .hamburger-icon__layer--middle {
  visibility: hidden;
  opacity: 0;
}
.hamburger-icon--close .hamburger-icon__layer--bottom {
  transform: translateY(-2rem) rotate(-45deg) !important;
}

.dots {
  --gap: 1rem;
}
@media only screen and (max-width: 48em) {
  .dots {
    justify-content: center;
  }
}
.dots__dot {
  width: clamp(0.7rem, 4vw, 1.5rem);
  height: clamp(0.7rem, 4vw, 1.5rem);
  border: none;
  border-radius: 50%;
  background-color: hsl(var(--color-primary-white)/0.2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.dots__dot[aria-selected=true] {
  background-color: hsl(var(--color-primary-white));
}
.dots__dot[aria-selected=false]:hover, .dots__dot[aria-selected=false]:focus {
  background-color: hsl(var(--color-primary-white)/0.4);
}

.indicators__item {
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  color: hsl(var(--color-primary-white));
  border: 1px solid hsl(var(--color-primary-white)/0.2);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: grid;
  place-items: center;
}
.indicators__item[aria-selected=true] {
  background-color: hsl(var(--color-primary-white));
  color: hsl(var(--color-primary-dark));
}
.indicators__item[aria-selected=false]:hover, .indicators__item[aria-selected=false]:focus {
  border: 1px solid hsl(var(--color-primary-white));
}

article {
  animation: showArticle 0.3s ease-in-out;
}

.body--crew {
  background-image: linear-gradient(90deg, hsl(var(--color-primary-dark)/0.5), hsl(var(--color-primary-dark)/0.6)), url(../assets/crew/background-crew-desktop.jpg);
}
@media only screen and (max-width: 48em) {
  .body--crew {
    background-image: linear-gradient(90deg, hsl(var(--color-primary-dark)/0.5), hsl(var(--color-primary-dark)/0.6)), url(../assets/crew/background-crew-tablet.jpg);
  }
}
@media only screen and (max-width: 23.4375em) {
  .body--crew {
    background-image: linear-gradient(90deg, hsl(var(--color-primary-dark)/0.5), hsl(var(--color-primary-dark)/0.6)), url(../assets/crew/background-crew-mobile.jpg);
    background-image: url(../assets/crew/background-crew-mobile.jpg);
  }
}

.main-content--crew .main-content__picture-box {
  max-width: clamp(25rem, 27vw, 45rem);
  transform: translateY(6rem);
}
@media only screen and (max-width: 48em) {
  .main-content--crew .main-content__picture-box {
    transform: translateY(0);
  }
}
.main-content h2 span {
  display: block;
}
.main-content h2 span:first-child {
  color: hsl(var(--color-primary-white)/0.2);
}

.body--destination {
  background-image: url(../assets/destination/background-destination-desktop.jpg);
}
@media only screen and (max-width: 48em) {
  .body--destination {
    background-image: url(../assets/destination/background-destination-tablet.jpg);
  }
}
@media only screen and (max-width: 23.4375em) {
  .body--destination {
    background-image: url(../assets/destination/background-destination-mobile.jpg);
    background-position: bottom left;
  }
}

.main-content--destination:has(picture) picture {
  margin: 4rem auto 0;
}
.main-content__picture-box {
  max-width: clamp(25rem, 27vw, 45rem);
}
@media only screen and (max-width: 23.4375em) {
  .main-content__infos {
    display: block;
  }
  .main-content__infos > *:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

@keyframes showArticle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.body--home {
  background-image: url(../assets/home/background-home-desktop.jpg);
}
@media only screen and (max-width: 48em) {
  .body--home {
    background-image: url(../assets/home/background-home-tablet.jpg);
  }
}
@media only screen and (max-width: 23.4375em) {
  .body--home {
    background-image: url(../assets/home/background-home-mobile.jpg);
    background-position: bottom left;
  }
}

.main-content__header--home > h1 > span {
  display: block;
  margin-bottom: 1rem;
}
.main-content__header--home > h1 > span:last-of-type {
  margin-bottom: 0;
}

.body--technology {
  background-image: url(../assets/technology/background-technology-desktop.jpg);
}
@media only screen and (max-width: 48em) {
  .body--technology {
    background-image: url(../assets/technology/background-technology-tablet.jpg);
  }
}
@media only screen and (max-width: 23.4375em) {
  .body--technology {
    background-image: url(../assets/technology/background-technology-mobile.jpg);
  }
}

@media only screen and (max-width: 48em) {
  .main-content.gap {
    gap: 0;
    row-gap: var(--gap);
  }
}
@media only screen and (max-width: 48em) {
  .main-content--technology .main-content__picture-box {
    max-width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
