:root {
  // Grid
  --grid-width: 120rem;
  --gap: 3rem;

  // BREAKPOINTS
  --bp-desktop: 90em; // 1440px
  --bp-tablet: 48em; // 768px
  --bp-phone: 23.4375em; // 375px

  // COLORS
  --color-primary-dark: 230 35% 7%;
  --color-primary-light: 231 77% 90%;
  --color-primary-white: 0 0% 100%;

  // SEPARATOR COLOR
  --color-separator: 231, 15%, 26%;

  // TYPOGRAPHY

  // FONT-FAMILIES
  --font-family-primary-normal: 'Barlow', sans-serif;
  --font-family-primary-conds: 'Barlow Condensed', sans-serif;
  --font-family-secondary: 'Bellefair', serif;

  // FONT-SIZES
  // I use rem unit for the accessibility reason. When for example the user increases the font-size value, I want my content scales with the new value
  --font-size-900: 15rem; // 150px
  --font-size-800: 10rem; // 100px
  --font-size-700: 5.6rem; // 56px
  --font-size-600: 3.2rem; // 32px
  --font-size-500: 2.8rem; // 28px
  --font-size-400: 1.8rem; // 18px
  --font-size-300: 1.6rem; // 16px
  --font-size-200: 1.4rem; // 14px

  // LETTER SPACING
  --letter-spacing-big: 0.475rem; // 4.75px
  --letter-spacing-medium: 0.27rem; // 2.75px
  --letter-spacing-small: 0.235rem; // 2.35px

  // SPACING
  --flow-margin: 3rem;
}

// BREAKPOINTS
$bp-desktop: 90em; // 1440px
$bp-tablet: 48em; // 768px
$bp-phone: 23.4375em; // 375px
