.grid-container {
  // Home / Destination pages
  @media only screen and (width > $bp-tablet) {
    display: grid;
    grid-template-columns:
      minmax(2rem, 1fr)
      repeat(2, minmax(0, 60rem))
      minmax(2rem, 1fr);
    grid-template-areas: 'padding-left main-left main-right padding-right';

    &__left {
      grid-area: main-left;
    }

    &__right {
      grid-area: main-right;
      place-self: end;
    }
  }

  @include respond($bp-tablet) {
    padding-inline: 2rem;
  }

  &--crew {
    display: grid;
    grid-template-areas:
      '. primary-heading primary-heading .'
      '. article picture .';

    @include respond($bp-tablet) {
      grid-template-columns: 1fr;
      grid-template-areas:
        'primary-heading'
        'article'
        'dots'
        'picture';
    }

    @include respond($bp-phone) {
      grid-template-areas:
        'primary-heading'
        'picture'
        'dots'
        'article';
    }

    & > header {
      grid-area: primary-heading;
    }

    & > article {
      grid-area: article;
    }

    & > picture {
      // grid-area: picture;

      grid-row: 1 / -1;
      grid-column: 3;

      margin: 0;

      @media only screen and (width > $bp-tablet) {
        justify-self: end;
      }

      @include respond($bp-tablet) {
        grid-area: picture;

        margin: auto;
        border-bottom: 1px solid hsl(var(--color-primary-light) / 0.2);
      }
    }

    & > div {
      grid-area: article;

      display: flex;
      height: 100%;
      align-items: end;

      @include respond($bp-tablet) {
        grid-area: dots;
        align-items: center;
      }
    }
  }

  &--technology {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns:
      minmax(2rem, 1fr) min-content repeat(2, minmax(0, 60rem))
      minmax(2rem, 1fr);
    align-items: center;

    @include respond($bp-tablet) {
      grid-template-columns: 2rem 1fr 2rem;
    }

    & > div {
      grid-column: 2 / span 1;

      @include respond($bp-tablet) {
        grid-row: 3;
        grid-column: 2;
        display: flex;
        justify-content: center;
        --flow-margin: 0;
      }
    }

    & > header {
      grid-row: 1 / span 1;
      grid-column: 2 / -1;

      @include respond($bp-tablet) {
        grid-row: 1 / span 1;
        grid-column: 2/-1;
      }
    }

    & > picture {
      justify-self: end;

      @include respond($bp-tablet) {
        grid-row: 2;
        grid-column: 1 / -1;
        justify-self: start;
      }
    }

    & > article {
      @include respond($bp-tablet) {
        grid-row: 4;
        grid-column: 2;
      }
    }
  }
}
