.grid-container {
  max-width: 120rem;
  margin-inline: auto;

  display: grid;
  grid-template-columns: 2em repeat(2, minmax(0, 60rem)) 2em;
  align-items: flex-end;

  @include respond($bp-tablet) {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 2em 1fr 2em;
    justify-items: center;

    padding-block: 5rem;
  }
}

.grid-container > :first-child {
  grid-column: 2 / 3;

  @include respond($bp-tablet) {
    align-self: flex-start;
  }
}

.grid-container > :last-of-type {
  grid-column: 3 / 4;
  justify-self: end;

  @include respond($bp-tablet) {
    grid-row: 2 / -1;
    grid-column: 2 / span 1;
    justify-self: center !important;
  }
}
