.grid-container {
  display: grid;
  grid-template-columns:
    minmax(2rem, 1fr)
    repeat(2, minmax(0, 60rem))
    minmax(2rem, 1fr);

  @include respond($bp-tablet) {
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: repeat(2, min-content);
    gap: 0;
  }

  & > :first-child {
    grid-column: 2 / 3;
  }

  & > :last-of-type {
    grid-column: 3 / 4;

    @include respond($bp-tablet) {
      grid-row: 2;
      grid-column: 2;
    }
  }

  &--home {
    place-items: end;

    @include respond($bp-tablet) {
      place-items: center;
      gap: 9rem 0;
    }

    @include respond($bp-phone) {
      gap: 6rem 0;
    }
  }

  &--destination {
    align-items: end;
  }
}
