/* ------------------------ */
/*    PRIMARY NAVIGATION    */
/* ------------------------ */
.primary-navigation {
  background-color: hsl(var(--color-primary-white) / 0.04);

  padding: 0 5rem;
  // max-width: 76rem; // When we will implement the design system
  flex-basis: 100%;

  position: relative;

  &__list {
    list-style: none;

    display: flex;
    justify-content: center;
    --gap: 6rem;
  }

  &__link {
    &:link,
    &:visited {
      display: block;

      color: hsl(var(--color-primary-white));
      padding-block: 3rem;
    }

    &--bold {
      font-weight: 700;
      margin-right: 1rem;
    }
  }
}

// aria: accessible rich internet application, it gives extra context to assistive technologies
// For our context, let assistive technology know which tabs we're gonna open
