/* ------------------------ */
/*           GRID           */
/* ------------------------ */
.container {
  max-width: 114rem;
  margin-inline: auto;
  padding-inline: 1.6rem;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.gap {
  gap: var(--gap);
}

/* ------------------------ */
/*       SCREEN READER      */
/* ------------------------ */
// Elements Only Visible to a Screen Reader
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* Added line */
  border: 0;
}

/* ------------------------ */
/*          COLORS          */
/* ------------------------ */
.text-dark {
  color: hsl(var(--color-primary-dark));
}

.text-light {
  color: hsl(var(--color-primary-light));
}

.text-white {
  color: hsl(var(--color-primary-white));
}

/* ------------------------ */
/*         BG COLORS        */
/* ------------------------ */
.bg-dark {
  background-color: hsl(var(--color-primary-dark));
}

.bg-light {
  background-color: hsl(var(--color-primary-light));
}

.bg-white {
  background-color: hsl(var(--color-primary-white));
}

/* ------------------------ */
/*        TYPOGRAPHY        */
/* ------------------------ */

// FONT-FAMILIES
.font-family-primary-normal {
  font-family: var(--font-family-primary-normal);
}

.font-family-primary-conds {
  font-family: var(--font-family-primary-conds);
}

.font-family-secondary {
  font-family: var(--font-family-secondary);
}

// FONT-SIZES
.font-size-900 {
  font-size: var(--font-size-900);
}

.font-size-800 {
  font-size: var(--font-size-800);
}

.font-size-700 {
  font-size: var(--font-size-700);
}

.font-size-600 {
  font-size: var(--font-size-600);
}

.font-size-500 {
  font-size: var(--font-size-500);
}

.font-size-400 {
  font-size: var(--font-size-400);
}

.font-size-300 {
  font-size: var(--font-size-300);
}

.font-size-200 {
  font-size: var(--font-size-200);
}

.font-size-900,
.font-size-800,
.font-size-700,
.font-size-600 {
  line-height: 1.1;
}

// FONT-WEIGHTS
.font-weight-regular {
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.letter-spacing-big {
  letter-spacing: var(--letter-spacing-big);
}

.letter-spacing-medium {
  letter-spacing: var(--letter-spacing-medium);
}

.letter-spacing-small {
  letter-spacing: var(--letter-spacing-small);
}
