.body--technology {
  background-image: url(../assets/technology/background-technology-desktop.jpg);

  @include respond($bp-tablet) {
    background-image: url(../assets/technology/background-technology-tablet.jpg);
  }

  @include respond($bp-phone) {
    background-image: url(../assets/technology/background-technology-mobile.jpg);
  }
}

@include respond($bp-tablet) {
  .main-content.gap {
    gap: 0;
    row-gap: var(--gap);
  }
}

.main-content {
  @include respond($bp-tablet) {
    &--technology &__picture-box {
      max-width: 100%;
    }
  }
}
